<div class="flex flex-row gap-4 rounded-lg bg-violet-500/50 border-violet-500/80 border text-white p-4 w-[500px]">
  <img [src]="item.image" width="150" height="150" class="object-contain rounded-xl">
  <div class="flex flex-col gap-2 w-full justify-between">
    <span class="text-xl font-medium flex justify-between">
      <span class="flex text-xl">{{item.name}} ({{item.quantity}})</span>
      <span class="text-yellow-400 flex font-bold text-2xl">{{item.price | number}} <img src="assets/fuß.png" width="32" height="32"></span>
    </span>
    <span class="text-yellow-400/50 flex">{{item.multiplier | number}} <img class="object-contain" src="assets/fuß.png" width="16" height="16">/s</span>
    <span class="text-white/80">{{item.description}}</span>
    <button *ngIf="item.price > feets!" class="cursor-not-allowed bg-red-500/50 rounded-lg px-2 py-1">Zu teuer!</button>
    <button *ngIf="item.price <= feets!" class="hover:bg-green-500 transition bg-green-500/80 rounded-lg px-2 py-1" (click)="buyItem(item)">Kaufen</button>
  </div>
</div>
